<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Calculator</title>
</head>

<body>
    <section class="section">
        <div class="center">
            <div class="heading">
                <h1>Calculator Web App</h1>
            </div>
            <div class="mobile">
                <div class="screen">
                    <input type="text" value="0">
                </div>
                <div class="button">
                    <div class="row">
                        <button id="bgskyblue">AC</button>
                        <button id="bgskyblue" class="square">&#x33A1;</button>
                        <button id="bgskyblue">%</button>
                        <button id="bgyellow">/</button>
                    </div>
                    <div class="row">
                        <button id="bggray">7</button>
                        <button id="bggray">8</button>
                        <button id="bggray">9</button>
                        <button id="bgyellow">*</button>
                    </div>
                    <div class="row">
                        <button id="bggray">4</button>
                        <button id="bggray">5</button>
                        <button id="bggray">6</button>
                        <button id="bgyellow">-</button>
                    </div>
                    <div class="row">
                        <button id="bggray">1</button>
                        <button id="bggray">2</button>
                        <button id="bggray">3</button>
                        <button id="bgyellow">+</button>
                    </div>
                    <div class="row">
                        <button id="bggray">0</button>
                        <button id="bggray">00</button>
                        <button id="bggray">.</button>
                        <button id="bgyellow">=</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="js/script.js"></script>
</body>

</html>