@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&family=Uchen&display=swap');
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    font-family: 'Uchen', serif;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center {
    margin: auto;
}

.heading {
    font-size: 2rem;
}

.heading h1 {
    text-align: center;
}

.mobile {
    margin-top: 30px;
    background-color: black;
    border-radius: 30px;
    padding: 100px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input{
    font-size: 2rem;
    padding: 10px;
    outline: none;
    border: none;
    background-color: black;
    color: white;
}

.button {
    margin: 10px;
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    font-size: 2rem;
    padding: 10px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    margin: 2px;
    color: white;
    border: none;
}
.square{
    font-weight: bold;
}
#bgyellow {
    background-color: rgba(255, 196, 1, 0.951);
}

#bgskyblue {
    background-color: rgba(135, 207, 235, 0.913);
}

#bggray {
    background-color: gray;
}